*{
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
box-sizing: border-box;
}






body{
    background-color: #F5F5FC;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    overflow-x: hidden; 
}

a{
    text-decoration: none !important;
}

a:hover{
    text-decoration: none !important;
}

nav{
    background:transparent;
    position:fixed;
   
    width: 100%;
    top: 0%;
    z-index: 999;
    transition: all .3s ease 0s;
    padding: 22px 0;
    box-shadow: 0 15px 30px 0 rgba(60, 72, 88, 0.05);
    transition: all .3s ease 0s;
}
.container{
    display:flex;
    align-items: center;
    justify-content: flex-end;
}



.cont-left a{
    color: #223464;
    font-size: 16px;
    font-weight: 400;
    padding-left: 0;
    padding-right: 0;
    margin-right: 20px;
    text-transform: capitalize;
}

.explore{
        background-image: linear-gradient(120deg, #5CDDFF 0%, #16BAE7 100%) !important;
        color: #FFFFFF;
        text-align: center;
    vertical-align: middle;
 display: inline-block;
    font-weight: 400;
font-size: 14px;
    padding: 9px 24px;
        border-radius: 30px;
        text-transform: uppercase;
}



.cont-right{
     display:flex;
    align-items: center;
    justify-content: flex-end;
   
}



.first-section{
    height: 100vh;
    padding: 0 !important;
  margin-bottom: 15%;
}

.first-sectionimg{
    margin-top: -149px;
   width: 1151px;
    position: absolute;
    right: -110px;
    z-index: -1;
}

.right-con {
   margin-left: 10%;
   margin-top: 3%;
   
}

.right-con img{
width: 30%;
}

.shift{
    margin-left: 15% !important;   
}

.right-con h1 { 
    font-size: 50px;
    color: #223464;
    text-transform: capitalize;  
}

.right-con p{
    font-size: 18px;
    font-weight: lighter;
    color: #223464;
    margin-bottom: 24px;
}

.right-con p span{
    font-weight: 600;

}

.search-container{
    padding-top: 5%;
    display: flex;
    align-items:center;
    justify-content: center;
}

.search{
    background:white;
   border-radius: 65px;
    box-shadow: 0 15px 30px 0 rgba(48, 54, 77, 0.1);
    border: none;
    color: #223464;
    display: block;
    font-size: 14px;
    font-weight: 300;
    height: 60px;
    line-height: 1.42857;
    padding: 6px 36px;
   
    display: flex;
    align-items:center;
    justify-content: flex-start;
}

.search input{
     border: none;
     width: 330px;
    
}

.search button{
    position: absolute;
    right: 9px;
    border: none;
    padding: 15px 16px;
    border-radius: 25px;
    height: 46px;
    line-height: 30px;
    width: 46px;
    display: block;
    top: 7px;
   background-image: linear-gradient(120deg, #5CDDFF 0%, #16BAE7 100%) !important;
    color: #FFFFFF;
}

.search i::before{
        box-sizing: border-box;
}

.search i{
    
        font-size: 18px;
    position: relative;
    top: -7px;
    right: 1px;
}


.second-section{
  margin-bottom: 2%;
   left: 10%;
}
 


.left{
   
    padding-bottom: 5%;
}

.project{
    background:white;
    padding: 20px;
    overflow: hidden;
    border: none;
    box-shadow: 0 15px 30px 0 rgba(48, 54, 77, 0.1);
    border-radius: 6px;
    margin: 3%;
    margin-top: 0%;
    margin-bottom: 50px;

    
}

.project:nth-child(even){
    top: 50px !important;

}

.project a{
    display: flex;
    justify-content: center;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0 15px 30px 0 rgba(48, 54, 77, 0.1);
}


.project img{
    width: unset;
    height: 232px;
    border-radius: 6px;
   
}

.project h6{
     margin-top: 10%;
    font-size: 14px;
    color: #16BAE7 !important;
    text-transform: uppercase;
    font-weight: 600;
}

.project h4{
         font-size: 21px;
    font-weight: bold;
    color: #223464;
    font-weight: 600;
}


.project p{
        font-size: 14px;
    color: #223464;
    font-weight: lighter;
    line-height: 24px;
}


.projecturl{
    width: 50%;
    font-size: 14px;
    padding: 10px 4px !important;
    text-transform: uppercase;
    color: #16BAE7;
    text-decoration: none;
    border: 1px solid #16BAE7;
    border-radius: 30px !important;
    text-decoration: none;
    transition: 0.2s ease all;
}

.projecturl:hover{
    background: #16BAE7;
    color: white;
}


.right{
    padding:0% !important;
}

.card-right{
    background:white;
   
    overflow: hidden;
    margin-bottom: 30px;
    border: none;
    box-shadow: 0 15px 30px 0 rgba(48, 54, 77, 0.1);
    border-radius: 6px;
    
}


.card-header{
        background-color: transparent;
    border-bottom: none;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.card-header h4{
        margin-bottom: 0;
    color: #223464;
    text-transform: capitalize;
   letter-spacing: 2px;
    font-weight: 500;
}

.card-body ul{
        list-style: none;
    padding: 0;
        margin-top: 0;
    margin-bottom: 1rem;
}

.card-body ul li{
    display: flex;
    border-bottom: 1px solid #D8D8D8;
    padding: 7px 0;
}

.card-body ul li p{
        text-transform: uppercase;
    color: #223464;
}

.card-body ul li p:nth-child(2){
    margin: 0;
    margin-left: auto;
    right: 10px;
    position: relative;
    color: #223464;
}

.third-section{
    background:#FCFCFF;
    padding: 3%;
    width: 100% !important;

}

.third-container{
    display:flex;
    align-items: center;
    justify-content: center;
  
}

.lang{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
     text-align: center;
     margin: 2%;
}
.lang p:nth-child(1){
    display: block;
    background-color: #FFFFFF;
    border-radius: 50%;
    box-shadow: 0 15px 30px 0 rgba(48, 54, 77, 0.1);
    height: 80px;
    width: 80px;
}

.lang p img{
    width: 65px;
    margin-top: 7px;
    vertical-align: middle;
    border-style: none;
          
}



.lang p:nth-child(2){
font-weight: bold;
    font-size: 18px;
    color: #223464;
    text-transform: capitalize;
}

.foot{
       
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 16px;
    border-top: 1px solid rgba(0,0,0,0.1);
   
}
.social{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}










